.bg_cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all 0.3s;
}
.center-box{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin:  auto auto;
  max-height: 100%;
  max-width: 100%;
}
//@r: 5rem/120; /* 640的设计图时: 5rem/120; 750的设计图时: 16rem/450 */
@r: 16rem/450; /* 640的设计图时: 5rem/120; 750的设计图时: 16rem/450 */
