* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #2e3d45 !important;
  font-family: Arial, "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
}

.bg_cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all 0.3s;
}

.center-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto auto;
  max-height: 100%;
  max-width: 100%;
}

//@r: 5rem/120; /* 640的设计图时: 5rem/120; 750的设计图时: 16rem/450 */
@r: 16rem/450;

/* 640的设计图时: 5rem/120; 750的设计图时: 16rem/450 */

.santant-header {
    position: fixed;
    top: 0;
    left: 0;
  width: 100%;
  height: 90*@r;
  border-bottom: 2px solid #1e2b34;
  display: block;
  overflow: hidden;
  .logo {
    width: 246*@r;
    height: 90*@r;
    padding-left: 40*@r;
  }
}

#root {
}

#root,
.wrapper {
  width: 100%;
  height: 100%;
  display: block;


}

.container {
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;

  padding-top: 90*@r;
  box-sizing: border-box;
}

input::-webkit-input-placeholder {
  color: #7291a1;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #7291a1;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #7291a1;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7291a1;
}

#handerNav {
  .back_currency {
    background: #2e3d45;
    .borderBottom {
      border-bottom: 1px solid #415e6d;
    }
    span {
      display: block;
      line-height: 3.44888889rem;
      color: #7291a1;
      font-size: 1.13777778rem;
      width: 680*@r;
      margin: 0 auto;
      position: relative;
      .address_url {
        width: 100*@r;
        position: absolute;
        right: -30*@r;
        top: -4*@r;
      }
      .iconright {
        position: absolute;
        right: 0;
        top: 10*@r;
      }
      .right {
        width: 200*@r;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.data_length_null {
  > img {
    width: 198*@r;
    margin: 154*@r auto;
    display: block;
  }
}

.ov_hidden {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}